.bg-page{
    background-color: #f4f4f4 !important;
}

.border-green{
    border-color: #00ff00 !important;
}

.font-menu{
    color: #000 !important;
    font-size: 1.1rem;
    text-align: right!important;
    font-weight: 550;
}

.body-style{
    width: 100%;
    /*position: absolute;
    top: 50%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }*/
}