<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Base</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Change your password here :</h1>
            <form method="post" action="{% url 'qa:alterar_senha' %}">
                {% csrf_token %}
                <div class="row">
                    <label for="username">Username:</label>
                    <input type="text" name="username" placeholder="Username">

                </div>
                <div class="row">
                    <label for="old_password">Old Password:</label>
                    <input type="password" name="old_password" placeholder="Old Password">
                </div>
                <div class="row">
                    <label for="new_password">New Password:</label>
                    <input type="password" name="new_password" placeholder="New Password">
                </div>
                <div class="row">
                    <label for="confirm_password">Confirm new password:</label>
                    <input type="password" name="confirm_password" placeholder="Confirm new password">
                </div>
                <div>
                     <input type="submit" name="" value="Save changes">
                </div>              
            </form>
        </div>
    </div>

</body>

</html>