{% extends 'qa/template.html' %}
{% load static %}


{% block header %}
	<!-- Folha de estilos para a página de login -->
	<link href="{% static 'css/login.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}    
    
    <div class="simple-login-container">
	<h2>Alterar a senha</h2>
	<form method="post" action="{% url 'qa:alterar_senha' %}">
		{% csrf_token %}
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="text" class="form-control" name="username" placeholder="Nome de usuário">
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="password" class="form-control" name="old_password" placeholder="Digite sua senha antiga">
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="password" class="form-control" name="new_password" placeholder="Digite sua senha nova">
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="password" class="form-control" name="confirm_password" placeholder="Repita sua senha nova">
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="submit" name="" class="btn btn-block btn-login" value="Salvar alterações">
			</div>
		</div>
	</form>

{% endblock %}
