{% extends 'qa/template.html' %}
{% block content %}
        
	<form action='{% url "qa:registrar_usuario" %}' method='post'>
		{% csrf_token %}
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='text' name='username' class="form-control" placeholder="Escolha um nome de usuário" value='{{username}}'/>
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='password' name='password' class="form-control" placeholder="Escolha uma senha" value='{{password}}'/>
			</div>
        </div>
        
        <div class='row'>
            <div class="col-md-12 form-group">
                <input type='text' name='email' class="form-control" placeholder="email" value='{{email}}'/>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-12 form-group">
                <input type='text' name='instituicao' class="form-control" placeholder="instituicao" value='{{instituicao}}'/>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-12 form-group">
                <input type='text' name='profissao' class="form-control" placeholder="profissao" value='{{profissao}}'/>
            </div>
        </div>

        <div class='row'>
            <div class="col-md-12 form-group">
                <input type='text' name='descricao' class="form-control" placeholder="descricao" value='{{descricao}}' style='height: 100px'/>
            </div>
        </div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='submit' class="btn btn-block btn-login" value='Cadastrar'/>
			</div>
		</div>
	</form>
        
{% endblock %}
