{% extends 'qa/template.html' %}


{% block content %}

	<div class='container-fluid ml-4 mt-3'>
		<h4>Perguntas que possuem a tag"{{tag}}"</h4>
		{% if perguntas %}
			<div class='row ml-0 py-2' style="height:auto; max-height:80vh; overflow-y: auto">
				<div class='col-11 px-2' style='box-shadow: 0px 0px 3px 0.2px #aaaaaa; margin-left: 3px'>
					<div class='row mx-0 py-1 border-bottom'>
						<div class="col-9 font-weight-bold">Título</div> 
						<div class="col-3 font-weight-bold">Autor</div>
					</div>
					{% for pergunta in perguntas %}
					<div class="row mx-0 border-bottom py-1">
						<div class="col-9"><a href='/selecionar_pergunta/{{pergunta.id}}'>{{pergunta.titulo}}</a></div> 
						<div class="col-3">{{pergunta.usuario}}</div>
					</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}


