{% extends 'qa/template.html' %}

{% block content %}
	<div class='container-fluid ml-4 mt-3'>
		<h4>Homepage</h4>
	</div>
	{% if msg %}
		<script>
			function closeAlertBox(){
			alertBox = document.getElementById("alertBox");
			alertClose = document.getElementById("alertClose");
			alertBox.style.visibility = "hidden";
			alertClose.style.visibility = "hidden";
		}
		window.alert = function(msg){
			var id = "alertBox", alertBox, closeId = "alertClose", alertClose;
			alertBox = document.createElement("div");
			document.body.appendChild(alertBox);
			alertBox.id = id;
			alertBox.innerHTML = msg;
			alertClose = document.createElement("div");
			alertClose.id = closeId;
			alertClose.innerHTML = "x";
			alertBox.appendChild(alertClose);
			alertBox.style.visibility = "visible";
			alertClose.style.visibility = "visible";
			alertClose.onclick = closeAlertBox;
			if(sucesso == false)
			{
				document.getElementById('alertBox').style.backgroundColor = 'red'
			}
		};
		alert('{{msg}}')
		</script>
	{% endif %}
{% endblock %}

