

{% extends 'qa/template.html' %}

{% block content %}
		<div class='border' style='width:100vw'>
			<h2>Perguntas Feitas</h2>
		</div>
		<div class='container-fluid ml-3 mt-2'>
                {% for pergunta in perguntas %}
				<div class='row alert alert-dark' role='alert'>
                    <a href='/selecionar_pergunta/{{pergunta.id}}'>{{pergunta.texto}}</a>
				</div>
                {% endfor %}
            <div class='row'>
                <a href='/menu'>< Voltar ao menu</a>
            </div>
        </div>
{% endblock %}