{% extends 'qa/template.html' %}
{% load static %}

{% block header %}
	<!-- Folha de estilos para a página de login -->
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="simple-login-container bg-page">
		<h4 class='mb-4 text-center text-dark'>Login</h4>
		<form action='{% url "qa:login_usuario" %}' method='post'>
			{% csrf_token %}
			<div class='row'>
				<div class="col-md-12 form-group">
					<input type='text' class="form-control" name='username' placeholder="Usuário" value='{{username}}'/>
				</div>
			</div>
			
			<div class='row'>
				<div class="col-md-12 form-group">
					<input type="password" class="form-control" name='password' placeholder="Senha" id='password' value='{{password}}'/>
				</div>
			</div>
			
			<div class='row'>
				<div class="col-md-12 form-group mb-2">
					<input type='submit' class="btn btn-block btn-success" value='Entrar'/>
				</div>
			</div>
		</form>
		
		<div class="row">
			<div class="col-md-12">
				<a href='/registrar_usuario' class='text-dark' style='font-size: 1rem;'>Registre-se</a>
			</div>
		</div>
	</div>
	{% if msg %}
		<script>
            function closeAlertBox(){
            alertBox = document.getElementById("alertBox");
            alertClose = document.getElementById("alertClose");
            alertBox.style.visibility = "hidden";
            alertClose.style.visibility = "hidden";
        }
        window.alert = function(msg){
            var id = "alertBox", alertBox, closeId = "alertClose", alertClose;
            alertBox = document.createElement("div");
            document.body.appendChild(alertBox);
            alertBox.id = id;
            alertBox.innerHTML = msg;
            alertClose = document.createElement("div");
            alertClose.id = closeId;
            alertClose.innerHTML = "x";
            alertBox.appendChild(alertClose);
            alertBox.style.visibility = "visible";
            alertClose.style.visibility = "visible";
            alertClose.onclick = closeAlertBox;
            if(sucesso == false)
            {
                document.getElementById('alertBox').style.backgroundColor = 'red'
            }
        };
        alert('{{msg}}')
        </script>
	{% endif %}

{% endblock %}
