
{% extends 'qa/template.html' %}


{% block content %}

<div class="simple-login-container">
	<h2>Faça o seu login</h2>
	<form action='{% url "qa:login_usuario" %}' method='post'>
		{% csrf_token %}
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='text' class="form-control" name='username' placeholder="Usuário" value='{{username}}'/>
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="password" class="form-control" name='password' placeholder="Digite a sua senha" id='password' value='{{password}}'/>
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='submit' class="btn btn-block btn-login" value='Entrar'/>
			</div>
		</div>
	</form>
	
	<div class="row">
        <div class="col-md-12">
            <a href='/registrar_usuario'> Criar um novo usuario </a>
        </div>
    </div>
</div>


{% endblock %}
