{% extends 'qa/template.html' %}
{% block content %}
    {% if usuario %}
        <form action='{% url "qa:meu_perfil" %}' method='post'>
            {% csrf_token %}
            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='username' class="form-control" placeholder="Escolha um nome de usuário" value='{{usuario}}'/>
                </div>
            </div>
                    
            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='email' class="form-control" placeholder="email" value='{{email}}'/>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='new_password' id='new_password' class="form-control" placeholder="Nova senha" value='{{new_password}}'/>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' id='new_password2'  class="form-control" placeholder="Confirme a nova senha"/>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='instituicao' class="form-control" placeholder="instituicao" value='{{instituicao}}'/>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='profissao' class="form-control" placeholder="profissao" value='{{profissao}}'/>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='descricao' class="form-control" placeholder="descricao" value='{{descricao}}' style='height: 100px'/>
                </div>
            </div>
            
            <div class='row'>
                <div class="col-md-6 form-group">
                    <input type='submit' class="btn btn-block btn-login" value='Salvar alteracoes' id='alteracoesSubmit'/>
                </div>
            </div>
            <script>
                $('#alteracoesSubmit').click(function(e){
                    if($('#new_password').val() === $('#new_password2').val()) {
                        
                    } else {
                        e.preventDefault();
                        alert('Senhas nao coincidem');
                    }
                });
            </script>
        </form>
        <form action='{% url "qa:remover_usuario" %}' method='post'>
            {% csrf_token %}
            <div class='row'>
                <div class="col-md-12 form-group">
                    <input type='text' name='password' class="form-control" placeholder="password" value='{{password}}'/>
                </div>
                </div>
            <div class="col-md-6 form-group">
                <input type='submit' class="btn btn-block btn-login" value='Deletar conta' id='deletarSubmit'/>
            </div>
        </form>
    {% else %}
        Faca o <a href='/login_usuario'>Login</a> para acessar essa pagina
    {% endif %}
        
{% endblock %}