{% extends 'qa/template.html' %}

{% block content %}

    {% if usuario %}
        <h3>Perguntas</h3>
        {% if perguntas %}
        <ul>
            {% for pergunta in perguntas %}
            <li>
                <a href='/selecionar_pergunta/{{pergunta.id}}'>{{pergunta.texto}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nao ha perguntas</p>
        {% endif %}
        <hr/>
        <h3>Respostas</h3>

        {% if respostas %}
        <ul>
            {% for resposta in respostas %}
            <li>
                <a href='/selecionar_pergunta/{{resposta.pergunta.id}}'>{{resposta.texto}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nao ha respostas</p>
        {% endif %}
    {% else %}
        Precisa estar logado para ver seus posts
    {% endif %}

{% endblock %}