<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'/>
    <meta name='viewport" content="width=device-width, initial-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible" content='IE=edge'/>
    
    <title>Pergunta Selecionada</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class='container-fluid ml-3'>
        <div class='row'>
            <p style='font-weight:bold'>Informações da pergunta selecionada</p>
        </div>
        <div class='row'>
            Usuario: {{pergunta.usuario}}
        </div>
        <form action='{% url "qa:alterar_pergunta" pergunta.id %}' method='post'>
            {% csrf_token %}
            <div class='row'>
                <label>
                    Pergunta:
                    <input type='text' name='texto_alterado' value='{{pergunta.texto}}'/>
                    <input type='submit' value='Alterar pergunta'/>
                </label>
            </div>
        </form>
        <form action='{% url "qa:deletar_pergunta" pergunta.id %}' method='post'>
            {% csrf_token %}
            <div>
                <input type='submit' value='Deletar pergunta'/>
            </div>
        </form>
        <hr/>
        <div class='row'>
            <p style='font-weight:bold'>Respostas</p>
        </div>

        {% if lista_respostas %}
            {% for resposta in lista_respostas %}
                <div class='row'>
                    <a href='/qa/selecionar_resposta/{{resposta.id}}'>Resposta {{forloop.counter}}</a>     
                </div>
                <div class='row'>
                    Usuario: {{resposta.usuario}}
                </div>
                <div class='row mb-2'>
                    Resposta: {{resposta.texto}}
                </div>
            {% endfor %}
        {% endif %}

        <hr/>
        <div class='row'>
            <p style='font-weight:bold'>Postar Resposta</p>
        </div>
        <form action='{% url "qa:salvar_resposta" pergunta.id %}' method='post'>
            {% csrf_token %}
            <div class='row'>
                <label>
                    Usuario:
                    <input type='text' name='usuario' value='{{usuario}}'/>
                </label>
            </div>
            <div class='row'>
                <label>
                    Texto:
                    <input type='text' name='texto' value='{{texto}}'/>
                </label>
            </div>
            <div class='row mt-2'>
                <input type='submit' value='Postar Resposta'/>
            </div>
        </form>
        <hr/>
        <div class='row'>
            <p style='font-weight:bold'>Backlinks</p>
        </div>
        <div class='row'>
            <a href='/qa/listar_perguntas'>Mostrar perguntas feitas</a>
        </div>
        <div class='row'>
            <a href='/qa/menu'>Voltar para o menu</a>
        </div>
    </div>
</body>
</html>