{% extends 'qa/template.html' %}

{% block content %}
	<style>
		.nolink,.nolink:link,.nolink:visited,.nolink:hover,.nolink:focus,.nolink:active{
			color: inherit;
			text-decoration: none;
		}
	</style>

	<div class='container-fluid ml-2 mt-2'>
		<div class='row ml-0'>
			<h4>Pergunta Selecionada</h4>
		</div>
		<div class='row'>
			<div class='col-4'>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">
							Usuário
						</div>
					</div>
					<input type='text' name='username' class="form-control bg-light" value='{{pergunta.usuario}}' disabled/>
				</div>
				<form action='{% url "qa:alterar_pergunta" pergunta.id %}' method='post'></form>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							Pergunta
						</div>
					</div>
					<textarea id="perguntaTexto" class="form-control col-12" name='texto' rows='2'>{{pergunta.texto}}</textarea>
				</div>
				{% if usuario == pergunta.usuario %}
					<div class='row ml-0 mt-2 justify-content-center'>
						<form id='formAlterarPergunta' action='{% url "qa:alterar_pergunta" pergunta.id %}' method='post'>
							<input hidden id='texto_alterado' name='texto_alterado'/>
							{% csrf_token %}
							<input type='button' id='alterarPerguntaBtn' class='btn btn-success py-1 mr-1' value='Alterar pergunta'/>
							<script>
								$("#alterarPerguntaBtn").click(function(){
									texto_alterado = $('#perguntaTexto').val()
									$('#texto_alterado').val(texto_alterado)
									$("#formAlterarPergunta").submit();
								});
							</script>
						</form>
						<form action='{% url "qa:deletar_pergunta" pergunta.id %}' method='post'>
							{% csrf_token %}
							<input type='submit' class='btn btn-danger py-1 ml-1' value='Deletar pergunta'/>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
		<hr/>
		<div class='row ml-0'>
			<h5>Respostas</h5>
		</div>
		{% if lista_respostas %}
		<div class='row ml-0'>
			<div class='col-4' style='height:auto; max-height: 35vh; overflow:auto'>
				{% for resposta in lista_respostas %}
				<div class='border row'>
					<a class='nolink' href='/selecionar_resposta/{{resposta.id}}'>   
						<div class='col-12'>
							Usuario: {{resposta.usuario}}
						</div>
						<div class='col-12'>
							Resposta: {{resposta.texto}}
						</div>
					</a> 
				</div>
				{% endfor %}
			</div>
		</div>
        {% endif %}

		<hr/>
		<div class='row ml-0'>
			<h5>Postar Resposta</h5>
		</div>
		<div class='row ml-0'>
			<div class='col-4 px-0'>
				<form action='{% url "qa:postar_resposta" pergunta.id %}' method='post'>
					{% csrf_token %}
					<div class="form-group mb-0">
						<textarea class="form-control col-12" rows="5" name='texto' required></textarea>
					</div>
					<div class='row mt-2 mx-auto justify-content-end'>
						<input id='respostaSubmit' type='submit' value='Postar Resposta' class='btn bg-success px-5 text-light'/>
					</div>
					<script>
						if('{{usuario}}' === ''){
							$('#respostaSubmit').addClass('disabled');
						}
						$('#respostaSubmit').click(function(e){
							if( $(this).hasClass('disabled') ){
								e.preventDefault();
								alert('Precisa Estar logado');
							}
						});
					</script>
				</form>
			</div>
		</div>
    </div>
{% endblock %}