{% extends 'qa/template.html' %}

{% block content %}
    <div class='container-fluid ml-4 mt-2'>
        <div class='row ml-0'>
            <h4>Poste sua pergunta</h4>
        </div>
        <div class='row ml-0'>
            <div class='col-4 px-0'>
                <form action='{% url "qa:postar_pergunta" %}' method='post'>
                    {% csrf_token %}
                    <div class="form-group mb-0">
                        <textarea class="form-control col-12" rows="10" name='texto' required></textarea>
                    </div>
                    <div class='row mt-2 mx-auto justify-content-end'>
                        <input id='perguntaSubmit' type='submit' value='Postar Pergunta' class='btn bg-success px-5 text-light'/>
                    </div>
                    <script>
                        if('{{usuario}}' === ''){
                            $('#perguntaSubmit').addClass('disabled');
                        }
                        $('#perguntaSubmit').click(function(e){
                            if( $(this).hasClass('disabled') ){
                                e.preventDefault();
                                alert('Precisa Estar logado');
                            }
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>
    {% if msg %}
        <script>
            window.alert('{{msg}}')
        </script>
    {% endif %}
{% endblock %}

