{% extends 'qa/template.html' %}
{% load static %}

{% block header %}
	<!-- Folha de estilos para a página de login -->
	<link href="{% static 'css/login.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
        
<div class="simple-login-container">
	<h2>Faça o seu cadastro no site</h2>
	<form action='{% url "qa:registrar_usuario" %}' method='post'>
		{% csrf_token %}
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='text' name='username' class="form-control" placeholder="Escolha um nome de usuário" value='{{username}}'/>
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='password' name='password' class="form-control" placeholder="Escolha uma senha" value='{{password}}'/>
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type='submit' class="btn btn-block btn-login" value='Cadastrar'/>
			</div>
		</div>
	</form>
	
	<div class="row">
        <div class="col-md-12">
            <a href='/menu'> Voltar ao menu </a>
        </div>
    </div>
</div>
        
{% endblock %}
