{% extends 'qa/template.html' %}
{% load static %}

{% block header %}
	<!-- Folha de estilos para a página de login -->
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="simple-login-container">
	<h2>Prencha abaixo para apagar a sua conta</h2>
	<form method="post" action="{% url 'qa:remover_usuario' %}">
		{% csrf_token %}
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
		</div>
		
		<div class='row'>
			<div class="col-md-12 form-group">
				<button onclick='document.getElementById("modal").style.display = "block";' id="deletar" class="btn btn-block btn-login" type="button">Delete</button>
			</div>
		</div>
		
		<div id="modal" style="display:none">
			<p>Tem certeza que você quer apagar a conta?</p>
			<input class="btn btn-primary" type="submit" value="Confirmar"/>
			<button onclick="window.history.back();" class="btn btn-default" type="button">Cancelar</button>
		</div>
	</form>
</div>
{% endblock %}
