{% extends 'qa/template.html' %}

{% block content %}
    <div class='container-fluid ml-3'>
        <div class='row'>
            <p style='font-weight:bold'>Informações da pergunta</p>
        </div>
        <div class='row'>
            Usuario: {{pergunta.usuario}}
        </div>
        <div class='row'>
            Pergunta: {{pergunta.texto}}
        </div>
        <hr/>
        <div class='row'>
            <p style='font-weight:bold'>Informações da resposta</p>
        </div>
        <div class='row'>
            Usuario: {{resposta.usuario}}
        </div>
        <form action='{% url "qa:alterar_resposta" resposta.id %}' method='post'>
            {% csrf_token %}
            <div class='row'>
                <label>
                    Resposta:
                    <input type='text' name='texto_alterado' value='{{resposta.texto}}'/>
                    <input type='submit' value='Alterar resposta'/>
                </label>
            </div>
        </form>
        <form action='{% url "qa:deletar_resposta" resposta.id %}' method='post'>
            {% csrf_token %}
            <div>
                <input type='submit' value='Deletar resposta'/>
            </div>
        </form>
        <hr/>
        
        <div class='row'>
            <p style='font-weight:bold'>Backlinks</p>
        </div>
        <div class='row'>
            <a href='/listar_perguntas'>Mostrar perguntas feitas</a>
        </div>
        <div class='row'>
            <a href='/menu'>Voltar para o menu</a>
        </div>
    </div>
{% endblock %}