{% extends 'qa/template.html' %}

{% block content %}
    <div class='container-fluid ml-3'>
        <div class='row'>
            <p style='font-weight:bold'>Informações da pergunta</p>
        </div>
        <div class='row'>
            Usuario: {{pergunta.usuario}}
        </div>
        <div class='row'>
            Pergunta: {{pergunta.texto}}
        </div>
        <hr/>
        <div class='row'>
            <p style='font-weight:bold'>Informações da resposta</p>
        </div>
		<div class='row'>
			<div class='col-2 col-sm2 col-md-2 col-lg-1'>
				<div class='row'>
					Usuario:
				</div>
				<div class='row'>
					Resposta:
				</div>
			</div>
			<div class='col-3 col-sm-3 col-md-3 col-lg-3'>
				<div class='row'>
					{{resposta.usuario}}
				</div>
				<form action='{% url "qa:alterar_resposta" resposta.id %}' method='post'>
					{% csrf_token %}
					<div class='row'>
						<label>
							<input type='text' name='texto_alterado' value='{{resposta.texto}}' style='width:50vw; height:10vh'/>
						</label>
					</div>
					<div class='row'>
						<input type='submit' value='Alterar resposta'/>
					</div>
				</form>
				<form action='{% url "qa:deletar_resposta" resposta.id %}' method='post'>
					{% csrf_token %}
					<div class='row'>
						<input type='submit' value='Deletar resposta'/>
					</div>
				</form>
			</div>
		</div>
        
        
        <hr/>
        
        <div class='row'>
            <p style='font-weight:bold'>Backlinks</p>
        </div>
        <div class='row'>
            <a href='/listar_perguntas'>Mostrar perguntas feitas</a>
        </div>
        <div class='row'>
            <a href='/menu'>Voltar para o menu</a>
        </div>
    </div>
{% endblock %}